
@{
    ViewBag.Title = "Chọn Ghế Ngồi - A Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .abcd, .bcd {
        height: 18px;
        width: 18px;
    }
</style>
<script>
    function goforsave() {
        var ans = "";
        var text;
        var i;
        for (i = 1; i < 101; i++) {
            text = i.toString();
            console.log(text)
            if (document.getElementById(text).className != "abcd") {
                if (document.getElementById(text).checked) {
                    ans += "1";
                }
                else {
                    ans += "0";
                }
            } else {
                ans += "0";
            }
        }
        document.getElementById("mystr").value = ans;
        document.getElementById("myform").submit();
    }
</script>
<center>
    <h2>Seat Allocation</h2>
    @{
        int prev = 0;
        char[] mystr = new char[100];
        foreach (int id in Model)
        {

            int id2 = id % 100;
            if (id2 == 0)
            {
                id2 = 100;
            }
            for (int i = prev; i < id2 - 1; i++)
            {
                mystr[i] = '0';
            }
            mystr[id2 - 1] = '1';
            prev = id2;
        }
        for (int i = prev; i < 100; i++)
        {
            mystr[i] = '0';
        }
        <h5>PLATINUM - Rs 300</h5>


        for (int i = 90; i < 100; i++)
        {

            if (mystr[i] == '1')
            {
                string ab = (i + 1).ToString();<input type="checkbox" id=@ab value="" disabled class="abcd">

            }
            else
            {
                string ab = (i + 1).ToString();
                <input id=@ab type="checkbox" class="bcd">

            }

        }

        <br />
        for (int i = 80; i < 90; i++)
        {
            if (mystr[i] == '1')
            {
                string ab = (i + 1).ToString(); <input type="checkbox" id=@ab value="" disabled class="abcd">

            }
            else
            {
                string ab = (i + 1).ToString();
                <input id=@ab type="checkbox" class="bcd">
            }
        }
        <br />
        for (int i = 70; i < 80; i++)
        {
            if (mystr[i] == '1')
            {
                string ab = (i + 1).ToString(); <input type="checkbox" id=@ab value="" disabled class="abcd">

            }
            else
            {
                string ab = (i + 1).ToString();
                <input id=@ab type="checkbox" class="bcd">
            }
        }
        <br />
        <h5>GOLD - 200</h5>
        for (int i = 60; i < 70; i++)
        {
            if (mystr[i] == '1')
            {
                string ab = (i + 1).ToString(); <input type="checkbox" id=@ab value="" disabled class="abcd">

            }
            else
            {
                string ab = (i + 1).ToString();
                <input id=@ab type="checkbox" class="bcd">
            }
        }
        <br />
        for (int i = 50; i < 60; i++)
        {
            if (mystr[i] == '1')
            {
                string ab = (i + 1).ToString(); <input type="checkbox" id=@ab value="" disabled class="abcd">

            }
            else
            {
                string ab = (i + 1).ToString();
                <input id=@ab type="checkbox" class="bcd">
            }
        }
        <br />
        for (int i = 40; i < 50; i++)
        {
            if (mystr[i] == '1')
            {
                string ab = (i + 1).ToString(); <input type="checkbox" id=@ab value="" disabled class="abcd">

            }
            else
            {
                string ab = (i + 1).ToString();
                <input id=@ab type="checkbox" class="bcd">
            }
        }
        <br />
        for (int i = 30; i < 40; i++)
        {
            if (mystr[i] == '1')
            {
                string ab = (i + 1).ToString(); <input type="checkbox" id=@ab value="" disabled class="abcd">

            }
            else
            {
                string ab = (i + 1).ToString();
                <input id=@ab type="checkbox" class="bcd">
            }
        }
        <br />
        <h5>SILVER - 100</h5>
        for (int i = 20; i < 30; i++)
        {
            if (mystr[i] == '1')
            {
                string ab = (i + 1).ToString(); <input type="checkbox" id=@ab value="" disabled class="abcd">

            }
            else
            {
                string ab = (i + 1).ToString();
                <input id=@ab type="checkbox" class="bcd">
            }
        }
        <br />
        for (int i = 10; i < 20; i++)
        {
            if (mystr[i] == '1')
            {
                string ab = (i + 1).ToString(); <input type="checkbox" id=@ab value="" disabled class="abcd">

            }
            else
            {
                string ab = (i + 1).ToString();
                <input id=@ab type="checkbox" class="bcd">
            }
        }
        <br />
        for (int i = 0; i < 10; i++)
        {
            if (mystr[i] == '1')
            {
                string ab = (i + 1).ToString(); <input type="checkbox" id=@ab value="" disabled class="abcd">

            }
            else
            {
                string ab = (i + 1).ToString();
                <input id=@ab type="checkbox" class="bcd">
            }
        }

        using (Html.BeginForm("CreateTicket", "Booking", FormMethod.Post, new { id = "myform" }))
        {
            @Html.Hidden("mystr")
            <input type="button" class="btn btn-primary" value="Book" onclick="goforsave()" />
        }

        <br />
        <div class="alert alert-info" style="width:200px">Screen is here</div>
    }
</center>

<br />

