@model IEnumerable<Movie_Theater.Models.Genre>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section>

    <!-- Default box -->
    <div class="main-content">
        <h4 class="page-title">Danh Sách Thể Loại</h4>
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Thể loại</a></li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
            </ol>
        </nav>
    </div>
    <div class="aside-compose text-align-end">
        <a href="/Admin/Genres/Create" class="btn btn-success">Thêm Thể Loại</a>
    </div>
    <hr />
    <div class="row margin-left-right-unset">
        <div class="col-12 col-xl-12 stretch-card">
            <div class="row flex-grow">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-2">Mã thể loại</th>
                            <th class="col-md-8">Tên thể loại</th>
                            <th class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-md-2">@item.Id</td>
                                    <td class="col-md-8">@item.Name</td>
                                    <td class="col-md-2">
                                        <div>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-warning", style = "margin: 5px 0 5px 0" })
                                            <button type="submit" class="btn btn-danger delete-btn" data-id="@item.Id" style="margin: 5px 0;">Xóa</button>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</section>
<!-- /.content -->

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
    $(function () {
        $('.delete-btn').click(function (e) {
            e.preventDefault();

            if (confirm("Bạn chắc chắn muốn xóa thể loại phim này?")) {
                var id = $(this).data('id');
                $.ajax({
                    url: '/Admin/Genres/Delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            window.location.reload();
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('An error occurred while deleting the record.');
                    }
                });
            }
        });
    });
</script>