/*Ghi đè*/
.breadcrumb-item + .breadcrumb-item::before {
    padding: 0 5px;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: unset;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;
    background-color: #f3f3f3;
}

input, select, textarea {
    max-width: unset;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --header-navbar-height: 55px;
    --book-a-ticket-btn-height: 30px;
    --search-height: 42px;
    --search-bg-color: #2f353b !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.display-none {
    display: none !important;
}

@keyframes anime {
    from {
        opacity: 0;
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes Opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.table {
    color: unset;
}

    .table > tbody > tr > th,
    .table > tbody > tr > td {
        border-width: 1px 0px 0px 1px;
        border-style: solid;
        border-color: #b4b1b2;
        text-align: center;
        max-height: 173px;
        overflow: auto;
    }

/*.table > tbody > tr > td {
    min-height: 93px;
}*/


.form-group .btn-submit,
.btn-create {
    display: flex;
    justify-content: end;
}

    .btn-create > a {
        width: max-content;
    }

    .btn-submit > input,
    .btn-create > a,
    .table > tbody tr td:last-child > a {
        text-decoration: none;
        display: block;
        padding: 5px;
        color: #000;
        background-color: #f7c12f;
        border-radius: 4px;
        font-weight: 500;
    }

        .btn-submit > input:hover,
        .btn-create > a:hover,
        .table > tbody tr td:last-child > a:hover {
            color: #fff;
            background-color: #2eaa2e;
        }

.table > tbody > tr:last-child {
    border-bottom: 1px solid #b4b1b2;
}



.table > tbody > tr > th:last-child,
.table > tbody > tr > td:last-child {
    border-right: 1px solid #b4b1b2;
    display: flex;
    justify-content: space-evenly;
}


.table > tbody > tr > td.title,
.table > tbody > tr > td.synopsis,
.table > tbody > tr > td.biography {
    text-align: justify;
}

.table > tbody > tr > td > img {
    height: 100%;
    max-width: 100%;
    border-radius: 4px;
}

.carousel-inner > .item > img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
}
/*Ghi đè*/
/*Layout css*/
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-radius: unset;
    border: unset;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;
    transition: top ease 0.2s;
}

.navbar-hidden {
    top: calc(-1*(var(--header-navbar-height) + var(--search-height))); /* hoặc bất kỳ giá trị âm nào để ẩn navbar */
}

.navbar .container {
    height: var(--header-navbar-height);
    position: relative
}

    .navbar .container > div {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.navbar__search {
    position: absolute;
    top: var(--header-navbar-height);
    right: 0;
    left: 0;
    background-color: var(--search-bg-color);
    padding: 4px 0;
}

    .navbar__search > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        margin: auto;
        border: 1px solid #fff;
        border-radius: 6px;
        background-color: #fff;
    }

        .navbar__search > div input {
            max-width: unset;
            flex: 1;
            height: 30px;
            outline: none;
            border: 0;
            padding-left: 10px;
            padding-right: 10px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            color: #000;
        }

    .navbar__search button {
        border: unset;
    }

.navbar__search__icon {
    width: 40px;
    text-align: center;
    background-color: #f7c12f;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

    .navbar__search__icon:hover {
        background-color: #ffe08d;
    }

    .navbar__search__icon i {
        font-size: 15px;
        line-height: 30px;
    }

#header-navbar {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100%;
}

    #header-navbar > li {
        position: relative;
        cursor: pointer;
        height: 100%;
    }

    #header-navbar .change-bg-btn {
        width: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #header-navbar .change-bg-btn i {
            font-size: 20px;
            color: #fff;
        }

li:hover .sub-navbar,
.sub-navbar > li:hover .a-sub-navbar {
    display: block;
    -webkit-animation: anime 300ms;
    -moz-animation: anime 300ms;
    -o-animation: anime 300ms;
    animation: anime 300ms;
}

#header-navbar > li > a,
#header-navbar > li > span,
.sub-navbar li > a,
.sub-navbar li > div a {
    text-decoration: none;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}

#header-navbar ul {
    list-style: none;
    background: rgba(46, 41, 46, 0.8);
    padding: 0;
    width: max-content;
}

.sub-navbar {
    position: absolute;
    top: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
    transform-origin: left top;
    max-height: 220px;
    display: -webkit-box;
    overflow: auto;
    display: none;
}

    .table > tbody > tr > td::-webkit-scrollbar,
    .sub-navbar::-webkit-scrollbar {
        width: 2px;
    }

    .table > tbody > tr > td::-webkit-scrollbar-track,
    .sub-navbar::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .table > tbody > tr > td::-webkit-scrollbar-thumb,
    .sub-navbar::-webkit-scrollbar-thumb {
        background: #888;
    }

    .sub-navbar > li {
        position: relative;
    }

    .sub-navbar li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #header-navbar > li:hover > a,
    #header-navbar > li:hover > span,
    .sub-navbar li:hover > div a::before,
    .sub-navbar li:hover > a,
    .sub-navbar li:hover > a::before {
        color: #f7c12f;
        border-color: transparent transparent transparent #fff;
    }

    .sub-navbar a:before,
    .a-sub-navbar a:before {
        content: "";
        display: block;
        border: 3px solid;
        border-color: transparent transparent transparent #e5e5e5e5;
        position: absolute;
        left: 15px;
    }

.a-sub-navbar {
    position: absolute;
    top: 0;
    left: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
    transform-origin: top;
    display: none;
}
/*Đăng nhập*/
#login {
    height: 100%;
}

    #login .login-true {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #b4b1b2;
        position: relative;
        height: 100%;
    }

    #login .box-acc {
        height: 100%;
        display: flex;
    }

    #login .box-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    #login .box-acc > span {
        display: flex;
        align-items: center;
    }

    #login .box-acc:hover > span {
        color: #fff;
    }

    #login .box-acc > span i {
        font-size: 17px;
        margin-left: 5px;
        margin-bottom: -2px;
    }

    #login .box-acc .sub-navbar {
        list-style: none;
        width: max-content;
        background: rgba(46, 41, 46, 0.8);
        padding: 0;
        right: -12px;
    }

    #login .login-true:hover .sub-navbar {
        display: block;
        animation: anime 300ms;
    }

/*Menu*/
.box-menu {
    margin-left: 25px;
    cursor: pointer;
    display: none;
    margin-bottom: -3px;
}

    .box-menu i {
        font-size: 29px;
        color: #fff;
    }

/*Index css*/
.wrapper-box-slideshow {
    padding-bottom: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
    border-left: 2px solid #fa320a;
    border-radius: 2px;
    text-align: left;
    padding: 15px;
}

    .carousel-caption h6,
    .carousel-caption p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }


    .carousel-caption h6 {
        text-transform: capitalize;
        height: 22px;
        -webkit-line-clamp: 1;
        margin-bottom: 10px;
        color: #f7c12f;
    }

    .carousel-caption p {
        height: 45px;
        -webkit-line-clamp: 2;
    }

.carousel-indicators {
    width: unset;
    margin-bottom: 20px;
    z-index: 1;
}

    .carousel-indicators .active,
    .carousel-indicators li {
        width: 12px;
        height: 12px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: unset;
        margin-bottom: unset;
    }

/*container-body*/
.container-body {
    margin: 0 10px;
}

.wrapper-box-movie__item {
    position: relative;
}

.heading-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

    .heading-title a {
        text-decoration: none;
        font-weight: 500;
    }

    .heading-title h6 {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 10px;
        margin-bottom: 0;
        font-size: 17px;
    }

        .heading-title h6::before {
            content: "";
            display: block;
            position: absolute;
            top: -1px;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: #fa320a;
        }

.wrapper-box-movie__item .box-movie {
    width: 100%;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 8px;
}

    .wrapper-box-movie__item .box-movie::-webkit-scrollbar,
    .box-banner::-webkit-scrollbar {
        height: 0;
        width: 0;
    }

.box-movie__item,
.box-news__item {
    text-decoration: none;
    cursor: pointer;
}

    .box-news__item .caption {
        height: 38px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }

    .box-discovery__body__item .img,
    .box-movie__item .img,
    .box-news__item .img {
        position: relative;
    }

    .box-news__item:hover .img::before {
        display: block;
        animation: linear Opacity 0.1s;
    }

    .box-discovery__body__item .img::before,
    .box-news__item .img::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.2);
        display: none;
    }

    .box-movie__item .img img,
    .box-discovery__body__item .img img,
    .box-news__item .img img {
        border-radius: 4px;
    }

    .box-discovery__body__item .img > div,
    .box-movie__item .img > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 4px;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: transform .1s;
        display: none;
    }

        .box-discovery__body__item .img > div a,
        .box-movie__item .img > div a {
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            display: block;
            width: 70%;
            text-align: center;
            padding: 10px;
            border-radius: 4px;
            background-color: #ffffff5e;
        }

.img > div a:first-child {
    margin-top: 35px;
}

.img > div a:last-child {
    margin-bottom: 19px;
}

.box-discovery__body__item .img > div a:last-child {
    margin-bottom: 35px;
}

.box-discovery__body__item .img img,
.box-movie__item .img img {
    transition: transform .1s;
    width: 190px;
    height: 280px;
    object-fit: cover;
}

.box-discovery__body__item:hover .img img,
.box-movie__item:hover .img img {
    transform: scale(1.02);
}

.box-discovery__body__item:hover .img > div,
.box-movie__item:hover .img > div {
    transform: scale(1.02);
    display: flex;
}

.box-movie__item:hover .caption,
.box-discovery__body__item:hover .caption {
    color: var(--bs-link-hover-color);
}

.caption {
    margin-top: 10px;
}

    .caption > span {
        display: block;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-align: justify;
    }

.box-movie .scores {
    display: flex;
    align-items: center;
    align-items: center;
    margin-bottom: 4px;
}

    .box-movie .scores img {
        width: 20px;
    }

    .box-movie .scores span {
        margin-left: 5px;
    }

.box-movie__btn {
    top: 136px;
}

.btn-next,
.btn-prev {
    width: max-content;
    position: absolute;
    top: 167px;
    cursor: pointer;
}

.btn-next {
    right: 10px;
}

.btn-prev {
    display: none;
    left: 10px;
}

    .btn-next i,
    .btn-prev i {
        font-size: 40px;
        color: #fff;
    }

.box-news__item .caption h6 {
    font-style: italic;
}

.box-news {
    padding-top: 8px;
}

.box-news__item {
    height: max-content;
    margin-bottom: 20px;
}

/*MovieDetail css*/
.wrapper-container {
    padding: 15px 10px 20px;
    margin-top: calc(var(--header-navbar-height) + var(--search-height));
    margin-bottom: 20px;
    min-height: 100vh;
    background-color: #fff;
}

    .wrapper-container:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: calc(var(--header-navbar-height) + var(--search-height));
        background-color: var(--search-bg-color);
    }

    .wrapper-container.no-top {
        padding: 0;
    }

    .wrapper-container .form-input .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .dl-horizontal dd > img,
        .wrapper-container .form-input .form-group > div img {
            margin-bottom: 7px;
            border-radius: 4px;
            max-width: 180px;
        }

.box-thumbnail {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.box-thumbnail__info {
    margin-right: 10px;
    width: 20%;
}

    .box-thumbnail__info .img {
        position: relative;
    }

        .box-thumbnail__info .img a {
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 30px;
            background-color: #f7c12f;
            border: none;
            border-radius: 4px;
            padding: 6px 0;
            font-size: 18px;
            font-weight: 800;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

            .box-thumbnail__info .img a:hover {
                background-color: #ffe08d;
            }

            .box-thumbnail__info .img a i {
                font-size: 25px;
                color: #db382a;
                margin-right: 4px;
            }

    .box-thumbnail__info .caption > span {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }

    .box-thumbnail__info .scores {
        justify-content: center;
        margin-top: 4px;
    }

        .box-thumbnail__info .scores span {
            font-size: 20px;
            font-weight: bold;
        }

        .box-thumbnail__info .scores img {
            width: 47px;
        }

.box-thumbnail__trailer {
    flex: 1;
}

    .box-thumbnail__trailer iframe {
        border-radius: 6px;
    }

.box-movie-info {
    margin-top: 20px;
}

.box-movie-info__item {
    padding-bottom: 10px;
}

ul.box-movie-info__item__content {
    min-height: 227px;
    overflow: hidden;
    margin-top: 22px;
}

.box-movie-info__item__content > p {
    text-align: justify;
    max-height: 113px;
    overflow: auto;
    padding-right: 5px;
}

.box-movie-info__item ul li {
    padding-top: 6px;
    padding-bottom: 6px;
}

    .box-movie-info__item ul li a {
        text-decoration: none;
    }

.box-movie-info__item .box-movie__item p {
    margin: 7px 0 0px;
    text-align: center;
}

.box-movie-info__item__more {
    text-align: end;
    color: #0d6efd;
    cursor: pointer;
    margin-top: 10px;
}

    .box-movie-info__item__more .hide-info {
        display: none;
    }

    .box-movie-info__item__more:hover {
        color: #2a62c0;
    }

.box-review-body {
    margin-top: 20px;
}

    .box-review-body form {
        color: #000;
    }

    .box-review-body > div {
        background-color: rgba(0,0,0,0.1);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .box-review-body textarea,
    .box-review-body input {
        padding: 10px;
        max-width: unset;
        border-radius: 4px;
        border: unset;
    }

    .box-review-body .scores {
        height: 45px;
        margin-bottom: 5px;
        width: 160px;
    }

    .box-review-body .comment {
        width: 100%;
        min-height: 100px;
        height: max-content;
    }

.box-review-body__btn-submit {
    text-align: end;
}

.box-community-review__body {
    max-height: 553px;
    overflow: auto;
    padding-right: 10px;
    margin-top: 20px;
}

    .box-community-review__body > li:not(:first-child) {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #5e5e5e5e;
    }

    .box-movie-info__item__content > p::-webkit-scrollbar,
    .box-community-review__body::-webkit-scrollbar {
        width: 5px;
    }

    .box-movie-info__item__content > p::-webkit-scrollbar-track,
    .box-community-review__body::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .box-movie-info__item__content > p::-webkit-scrollbar-thumb,
    .box-community-review__body::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        .box-movie-info__item__content > p::-webkit-scrollbar-thumb:hover,
        .box-community-review__body::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .box-community-review__body .account {
    }

        .box-community-review__body .account div {
            width: 100%;
            display: flex;
            align-items: center;
        }

            .box-community-review__body .account div img {
                width: 45px;
                border-radius: 50%;
                margin-right: 10px;
            }

    .box-community-review__body .content div {
        display: flex;
        justify-content: space-between;
    }

    .box-community-review__body .content > p {
        margin: 10px 0 0 0;
        overflow: hidden;
        height: max-content;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        text-align: justify;
    }

    .box-community-review__body .content div:first-child span:first-child span {
        font-weight: bold;
        color: #f7c12f;
    }

/*CastAndCrew css*/
.box-biography {
    margin-bottom: 20px;
}

    .box-biography .img img {
        border-radius: 4px;
        width: 230px;
        height: 296px;
        object-fit: cover;
    }

    .box-biography .biography a {
        text-decoration: none;
    }

    .box-biography h1 {
        font-size: 26px;
    }

    .box-biography ul li {
        padding: 5px 0;
    }

    .box-biography .biography p {
        height: max-content;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        text-align: justify;
        margin-top: 5px;
    }

.box-filmography .heading-title {
    margin-left: 0;
    margin-right: 0;
}

.box-filmography table {
    width: 100%;
    margin-top: 20px;
}

.box-filmography thead {
    border-bottom: 2px solid #d7d7d7;
}

.box-filmography tbody tr {
    padding-top: 12px;
}

.box-filmography th {
    color: #757a84;
}

.box-filmography th,
.box-filmography td {
    padding: 0 20px 12px;
}

.box-filmography tbody td img {
    width: 25px;
    height: 25px;
    margin-right: 4px;
}

.box-filmography tbody td a {
    text-decoration: none;
    text-align: justify;
}

/*ListMovie css*/
.box-discovery {
    padding-bottom: 15px;
}

.box-discovery__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b4b1b2;
    padding-bottom: 15px;
}

    .box-discovery__header i {
        font-size: 24px;
        color: #f7c12f;
    }

    .box-discovery__header h5 {
        margin-bottom: 0;
        margin-right: 20px;
        font-size: 18px;
    }

    .filter-nav__item button,
    .box-discovery__header button {
        outline: none;
        border-radius: 6px;
        padding: 6px 10px;
        border: solid 1px #bcbdbe;
        display: flex;
        align-items: center;
        background-color: unset;
    }

        .filter-nav__item button:hover,
        .box-discovery__header button:hover {
            border-color: #000;
        }

        .filter-nav__item button i,
        .box-discovery__header button i {
            font-size: 12px;
            margin-left: 4px;
        }

.box-discovery__filters-nav {
    padding-top: 20px;
    display: none;
}

    .box-discovery__filters-nav > div {
        z-index: 1;
    }

.filter-nav__item > button {
    border-radius: 18px;
    margin-right: 10px;
}

.box-discovery__body {
    padding-top: 15px;
}

    .box-discovery__body > strong {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

        .box-discovery__body > strong i {
            font-size: 30px;
            color: #efae00;
            margin-right: 10px;
        }

.box-discovery__body__item {
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 15px;
}

    .box-discovery__body__item .caption img {
        width: 20px;
    }

    .box-discovery__body__item .caption > span {
        padding-top: 4px;
    }

.filter-nav__item {
    position: relative;
}

    .filter-nav__item ul {
        min-width: 200px;
        width: max-content;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.08), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        display: none;
    }

        .filter-nav__item ul li:first-child i {
            font-size: 20px;
            margin-left: auto;
            cursor: pointer;
        }

            .filter-nav__item ul li:first-child i:hover {
                color: red;
            }

        .filter-nav__item ul li {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #d7d7d7;
        }

            .filter-nav__item ul li input {
                width: 20px;
                cursor: pointer;
            }

            .filter-nav__item ul li span {
                margin-right: 10px;
            }

            .filter-nav__item ul li > button:first-child {
                margin-right: 20px;
            }

            .filter-nav__item ul li > button:last-child {
                background-color: #3976dc;
                color: #fff;
            }

/*Admin*/
.wrapper-container > .heading > i {
    font-size: 25px;
    color: #f7c12f;
    margin-right: 2px;
}

.wrapper-container > .heading {
    text-transform: uppercase;
}

/*#loader {
    background-image: url(/Areas/Admin/Content/assets/images/bg-load.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(33, 37, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
}

    .loader:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 6px solid #f7c12f;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }

    .loader:after {
        content: "";
        position: absolute;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
        width: 24px;
        height: 24px;
        border: 4px solid #fff;
        border-top-color: #9c27b0;
        border-radius: 50%;
        animation: spin 1s linear infinite reverse;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-wrapper p {
    color: #f7c12f;
    font-size: 18px;
    margin-top: 16px;
    margin-left: 10px;
}

.publication-info {
    margin: 15px 0;
}

.box-news-detail {
    font-weight: 400;
}
